<div class="container text-light">
    <div class="row text-center pt-5">
        <h1 class="col xbootstrap">Model Bank Loan Process</h1>
    </div>
    <div class="row pt-5">
        <div class="col">
            An SMS has been sent to {{ msisdn }} with an OTP (One-Time Password). Please enter it below:
        </div>
    </div>
    <div class="row mt-2 card text-dark">
        <div class="col card-body">
            <form [formGroup]="formDetails" (ngSubmit)="onSubmit(formDetails.value)">
                <div class="form-group">
                    <label for="name">OTP</label>
                    <input type="text" class="form-control" id="otp" placeholder="Enter OTP" formControlName="otp">
                    <small><a href="https://staging-api.trustingsocial.com/smsc_chat" target="_blank">Staging OTP Service</a></small>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <small id="errHelp" *ngIf="!valid" class="form-text text-danger">Please enter the OTP.</small>
            </form>
            <h2 *ngIf="score" class="text-success text-center pt-3">You are eligible for a loan!<br/>
                <button class="btn btn-success" [routerLink]="['/loanapproval']">Continue</button>
            </h2>
        </div>
    </div>
</div>
<div class="background"></div>