<div class="container text-light">
    <div class="row text-center pt-5">
        <h1 class="col xbootstrap">Model Bank Loan Process</h1>
    </div>
    <div class="row mt-2 mx-1 mx-lg-0 card text-dark">
        <div class="col card-body">
            <form [formGroup]="formDetails" (ngSubmit)="onSubmit(formDetails.value)" *ngIf="!amt">
                <div class="form-group">
                    <label for="amt">Please enter the loan amount, in USD:</label>
                    <input type="text" class="form-control" id="amt" placeholder="Enter Loan Amount"
                        formControlName="amt">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <small id="errHelp" *ngIf="!valid" class="form-text text-danger">Please enter an amount.</small>
            </form>
            <div class="title text-center" *ngIf="amt">
                <h3 class="text-description">You are only eligible for USD {{ (amt * scoreMult) | number:'1.0-2' }}, based on your
                    credit score.</h3><br />
                <div class="row text-center" *ngIf="!loanId">
                    <h6 class="col-12">Would you like to proceed?</h6>
                    <div class="col">
                        <button class="btn btn-success mr-2" (click)="applyLoan()">Yes</button>
                        <button class="btn btn-danger ml-2" [routerLink]="['']">No</button>
                    </div>
                </div>
                <h6 *ngIf="loanId">
                    Loan ID: <span *ngIf="loanId" class="account-Info" [innerHTML]="loanId"></span> approved and disbursed. <br/>
                    USD <span class="account-Info">{{ (amt * scoreMult) | number:'1.0-2' }}</span> has been credited to your account <span class="account-Info">{{ accountIdent }}</span>.
                </h6><br />
            </div>
        </div>
    </div>
</div>