/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

.xbootstrap {
  text-shadow: 0px 0px 1px #111, 2px 2px 1px #363636;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background: linear-gradient(#485461, #485461), url(assets/bg.jpg) no-repeat center center fixed;
  background-size: cover;
  background-blend-mode: saturation;
  z-index: -8;
}