<div class="container text-light">
    <div class="row text-center pt-5">
        <h1 class="col">Model Bank Micro Lending Demo</h1>
    </div>
    <div class="row pt-5">
        <div class="col">
            Etiam aliquam consequat tellus eu finibus. Quisque sodales quam posuere mi laoreet, a pellentesque quam
            ullamcorper. Imt in imperdiet nibh. Vestibulum id sapien sit amet purus tristique blandit. Integer vitae
            quam non purus venenatis dictum in at quam. Maecenas ut ligula vel mauris venenatis placerat quis et urna.
            Sed eu risus id mi luctus consequat. Nullam nisi ipsum, dignissim a magna id, pharetra finibus erat. Nullam
            sodales, sapien quis imperdiet rutrum, ligula sem cursus diam, et convallis metus leo quis nulla.
        </div>
    </div>
    <div class="row pt-5 text-center">
        <div class="col">
            <button *ngIf="detailsPresent" class="btn btn-success" [routerLink]="['/apply']">Apply for a Loan</button>
            <button *ngIf="!detailsPresent" class="btn btn-success" [routerLink]="['/login']">Create an
                Account</button>
        </div>
    </div>
</div>
<div class="background"></div>