<div class="container pt-5">
  <div class="row text-center pt-5 text-light font-weight-bold">
    <h1 class="col xbootstrap">Model Bank Loan Process</h1>
  </div>
  <div class="row mt-5 card">
    <div class="col card-body">
      Microlending involves granting small loans to people in need. These loans are generally used by entrepreneurs with
      a business idea or those who need extra cash to expand. In that sense, they aren't much different from small
      business loans. However, microlending is actually much different. What makes these loans unique are the
      motivations behind it, the sizes of loans, and the people involved.
    </div>
    <div class="col card-body">
      Create an account and apply for a micro loan.
    </div>
  </div>
  <div class="row pt-5 text-center">
    <div class="col">
      <button *ngIf="detailsPresent" class="btn btn-primary" [routerLink]="['/apply']">Apply for a Loan</button>
      <button *ngIf="!detailsPresent" class="btn btn-primary" [routerLink]="['/idVerification']">Create an
        Account</button>
    </div>
  </div>
</div>