<div class="container-fluid canvas-bg">
    <div class="container content-bg">

        <div class="page-heading">

            <h1 class="title">WELCOME TO MODEL BANK</h1>
            <h6 class="subheading">Thank you for choosing to create an account with us.</h6>

            <hr>

        </div>

        <div class="row steps-custom">

            <div class="text-center progress-circle-active">
                <span class="span-number">01</span>
            </div>

            <div class="div progress-tracker-active"></div>

            <div class="text-center progress-circle-active">
                <span class="span-number">02</span>
            </div>

            <div class="div progress-tracker-active"></div>

            <div class="text-center progress-circle-active">
                <span class="span-number">03</span>
            </div>

        </div>

        <div class="title">
            <h3 class="text-description">Your account has been successfully created!</h3>
            <h6>A mail from Model Bank has been sent to verify your identity and provide further information.
                <br />Please save the following details in a secure location:
            </h6><br />
            <span class="account-Info" [innerHTML]="accountInfo"></span><br />
        </div>

        <div class="row">
            <div class="col-12 text-center mx-auto">
                <button class="input-button ml-3" [routerLink]="['']">Home</button>
            </div>
        </div>

    </div>
</div>